{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": { "version": 3.22 },
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", {"decoratorsBeforeExport": true}]
  ]
}