@import url("//maxcdn.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css");
@import url("../../_lib/ol3/css/ol.css");
@import url("../../_lib/ol3/examples/resources/layout.css");

body {
  padding-top: 0px;
  background-image: url(geoloc/marker.png);
}
.container-fluid {
  padding: 20px;
}