@import url("//maxcdn.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css");

/*body {
  font-family: sans-serif;
  font-size: 16px;
}
.navbar {
  background-color: #1F6B75;
  color: white;
  border: 0;
  border-radius: 0;
}
.navbar-brand {
  color: white;
  font-weight: bold;
  font-size: 160%;
  padding: 8px 0;
}
.navbar-brand:hover,
.navbar-brand:focus {
  color: #aae1e9;
}
.navbar-brand img {
  height: 35px;
  vertical-align: middle;
  margin-right: 5px;
  display: inline-block;
}

#title {
  margin-top: 0;
}

#docs {
  margin-top: 1em;
}

ul.inline,
ol.inline {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

ul.inline>li,
ol.inline>li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.map {
  width: 100%;
  height: 400px;
  background: url(../../_lib/ol3/examples/resources/map-background.jpg) repeat;
  margin-bottom: 10px;
}
.multi-map {
  width: 49%;
  height: 400px;
  background: url(../../_lib/ol3/examples/resources/map-background.jpg) repeat;
  margin-bottom: 10px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.ol-attribution.ol-logo-only,
.ol-attribution.ol-uncollapsible {
  max-width: calc(100% - 3em);
  height: 1.5em;
}
.ol-attribution ul {
  font-size: 1rem;
}
.ol-control button, .ol-attribution, .ol-scale-line-inner {
  font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
}
.iframe-info iframe {
  width: 100%;
}

pre[class*="language-"] {
  margin-top: 20px;
  background: #FFFFFF;
}

#source-controls {
  position: absolute;
  margin-top: 20px;
  right: 40px;
}

#source-controls a {
  margin-left: 15px;
}

#copy-button {
  text-decoration: none;
  cursor: pointer;
}

#jsfiddle-button {
  text-decoration: none;
  cursor: pointer;
}

pre {
  border: 1px solid #eee;
  border-radius: 0;
  max-height: 600px;
  overflow: auto;
  padding: 10px 0 10px 0;
}

#tags, #shortdesc, .hidden {
  display: none;
}
#api-links ul {
  display: inline;
}
*/
pre {
  border: 1px solid #eee;
  border-radius: 0;
  max-height: 400px;
  overflow: auto;
  padding: 10px 0 10px 0;
  margin-bottom: 5px !important;
}
code {
  background-color: lightgrey;
  border: none;
  color: black;
  font-family: monospace;
}
.content > .map {
  height: 400px;
  background: url(../_lib/ol3/examples/resources/map-background.jpg) repeat;
  margin: 20px;
  padding: 0;
}
.content > .multi-map {
  width: 46%;
  height: 400px;
  background: url(../_lib/ol3/examples/resources/map-background.jpg) repeat;
  margin: 0px 20px 20px 20px;
  padding: 0;
}


/**examples**/
.example-wrap {
  box-sizing: border-box;
  min-height: 1px;
  padding: 5px 10px;
  position: relative;
}
.example {
  background-color: rgba(0, 39, 118, 0.9); 
  display: block;
  height: 125px;
  margin: 10px;
  overflow: auto;
  padding: 15px;
}
.example > a {
  color: #fff;
}
.example-name {
  font-size: 20px;
  font-weight: bold;
  display: block;
  padding: 20px 0;
}

/***quickstart example styles***/
.page-title {
  text-transform: uppercase;
}

.guide-step {
  margin-top: 40px;
}
.guide-step-title {
}
.guide-step-name {
  font-size: 20px; 
  font-weight: bold; 
}
.guide-step-number {
  margin-right: 5px;
  text-transform: uppercase;
}


/**styles for windows of a greater width**/
@media (min-width: 800px) {
  .example-wrap {
    float: left;
    width: 33.33333%;
  }
  .example-name {
    padding: 10px 0;
  }
}

@media (min-width: 1092px) {
  .example-name {
    padding: 20px 0;
  }
}
