table {
  border: 1px solid black;
  border-collapse: collapse;
}
td, th {
  border: 1px solid black;
  border-collapse: collapse;
  padding-left: 8px;
  padding-right: 8px;
  background-color: white;
}
