
*,
*:before,
*:after {
 box-sizing:border-box;
}

body {
    margin: 0;
    font: normal 16px/1.45 Arial,Helvetica Neue,sans-serif;
    min-width: 320px;
    padding: 0;
}



/*--- Web MUNI ---*/

@media(min-width: 768px) {
    body {
     font-size:18px
    }
}

.main {
    display: block;
}

.box-map-1 {
    margin-bottom: 50px;
}

.box-map-2 {
    margin-top: 0;
}

.main-row {
    position:relative;
    margin:0;
    padding:0;
    margin:0 auto;
    max-width:1240px;
    padding:0 35px
}

.main-row:after,
.main-row:before {
    content:"";
    display:table;
    clear:both
}

@media(min-width: 768px) {
    .main-row {
     padding:0 25px
    }
}

@media(min-width: 1024px) {
    .main-row {
     padding:0 35px
    }
}

.grid {
    margin: 0;
    margin-top: 0;
    margin-left: -20px;
    letter-spacing: -1px;
    font-size: 0px;
}

.grid .grid-cell-1 {
    height: 500px;
    left: 33.3333333333%;
    width: 66.6666666667%;
    position: relative;
    border-left: 20px solid transparent;
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    text-align: left;
    letter-spacing: normal;
    white-space: normal;
    padding: 0;
    margin: 0;
    margin-top: 0;
    background: none;
    overflow: visible;
    background-size: auto;
    background-position: 0 0;
}

.map-muni {
    width: 100%;
    height: 300px;
    margin: 0;
    position: relative;
    box-sizing: inherit;
}

@media(min-width: 768px) {
    .map-muni {
     height:500px;
     margin:0 -25px 20px
    }
}

@media(min-width: 1024px) {
    .map-muni .viewport {
     height:498px
    }
    .map-muni .scrollbar {
     display:block
    }
    .map-muni {
     margin:0
    }
}

@media(min-width: 1024px) and (min-height: 750px) {
    .map-muni .viewport {
     height:calc(100vh - 325px)
    }
    .map-muni {
     height:calc(100vh - 323px)
    }
}

.grid .grid-cell-2 {
    left: -66.6666666667%;
    width: 33.3333333333%;
    position: relative;
    border-left: 20px solid transparent;
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    text-align: left;
    letter-spacing: normal;
    white-space: normal;
    padding: 0;
    margin: 0;
    background: none;
    overflow: visible;
    background-size: auto;
    background-position: 0 0;
}

@media(min-width: 768px) {
    .grid-cell-1, .grid-cell-2 {
     font-size:18px
    }
}

.list-container {
    margin-top: 0;
    font-size: 18px;
    text-align: left;
    letter-spacing: normal;
    white-space: normal;
}

.center {
    margin: 0 0 2.1em;
    margin-bottom: 0;
    text-align: center;
}

.reset-button {
    color: #0000dc;
    margin-bottom: 0px;
    vertical-align: middle;
    margin: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
    border: none;
    background: none;
    text-decoration: none;
    cursor: pointer;
}

.button-style {
    text-transform: uppercase;
    background: #0000dc;
    border: 2px solid #0000dc;
    color: #fff;
    position: relative;
    display: block;
    padding: 14px 41px;
    font: bold 18px/28px Arial,Helvetica Neue,sans-serif;
    letter-spacing: .05em;
    text-decoration: none;
    text-align: center;
    transition: background .2s,color .2s,border-color .2s,box-shadow .2s;
    cursor: pointer;
}



/*--- UVT ---*/

.grid .grid-cell-3 {
    width: 33.3333333333%;
    position: relative;
    border-left: 20px solid transparent;
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    text-align: left;
    letter-spacing: normal;
    white-space: normal;
    padding: 0;
    margin: 0;
    margin-top: 0;
    background: none;
    overflow: visible;
    background-size: auto;
    background-position: 0 0;
}

.uvt-list {
    margin-top: 0;
    margin: 0 0 50px;
    max-width: 800px;
}

.grid .grid-cell-4 {
    width: 66.6666666667%;
    position: relative;
    border-left: 20px solid transparent;
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    text-align: left;
    letter-spacing: normal;
    white-space: normal;
    padding: 0;
    margin: 0;
    margin-top: 0;
    background: none;
    overflow: visible;
    background-size: auto;
    background-position: 0 0;
}

.map-container-uvt { 
    padding-top: 38%;
    width: 100%;
    position: relative;
}

.map-uvt {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 0;
    width: 100%;
    height: 100%;
}



/*--- UKB ---*/

.map-container-ukb  { 
    padding-top: 19%;
    margin-bottom: 50px;
    width: 100%;
    position: relative;
    float: left;
} 

.map-ukb {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 0;
    width: 100%;
    height: 100%;
}