@font-face {
  font-family: 'MunimapFont';
  src: url('fontello.eot?11478807');
  src: url('fontello.eot?11478807#iefix') format('embedded-opentype'),
       url('fontello.woff2?11478807') format('woff2'),
       url('fontello.woff?11478807') format('woff'),
       url('fontello.ttf?11478807') format('truetype'),
       url('fontello.svg?11478807#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}