@import url('../font/font.css');

.ol-viewport {
  font-size: 16px;
  transition: .3s ease-in-out all;
}
.ol-popup {
  border-radius: 6px;
  bottom: auto;
  min-width: 0;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  border: 1px solid #cccccc;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:before {
  left: 19px;
  border-left-color: #cccccc;
  border-width: 6px; 
  margin-left: -11px;
  border-top-color: #cccccc;
}
.ol-popup:after {
  /*left positioning (+ margin) influences munimap.info.POPUP_TALE_INDENT constant*/
  left: 19px;
  border-left-color: white;
  border-top-color: white;
  /*border-width influences munimap.info.POPUP_TALE_HEIGHT constant*/
  border-width: 5px;
  margin-left: -10px;
}

.munimap-info-hide {
  display: none;  
}
.ol-popup.munimap-hide-tale:before {
  display: none;
}
.ol-popup.munimap-hide-tale:after {
  display: none;
}
.munimap-loading {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}
.munimap-loading--active {
  display: block;
}
.munimap-loading > div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.munimap-info .munimap-content > .munimap-title {
  font-weight: bold;
}
.munimap-info .munimap-content {
  margin: 4px;
  padding: 4px;
  font-size: small;
}
.munimap-info .munimap-close-button {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
  font-size: 1.1rem;
}
.munimap-info .munimap-close-button:after {
  content: "✖";
}
.munimap-info .munimap-close-button:hover {
  cursor: pointer;
}

.munimap-info .munimap-close-button:hover::after {
  color: #e51c23;
}

.munimap-info {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding: 10px 9px;
  position: absolute;
  transition: left 0.5s, top 0.5s;
  white-space: nowrap;
}
.munimap-info > div {
  float: left;
  clear: both;
}

.munimap-info:hover {
  cursor: default;
}

.munimap-complex, .munimap-building {
  font-weight: bold;
  line-height: normal;
  padding-bottom: 3px;
}
.munimap-floor {
  margin-top: 3px;
}

.munimap-floor button {
  background: white;
  border: solid 1px #99a9c8;
  color: #000;
  cursor: pointer;
  list-style: none;
  margin: 2px 2px 2px 0px;
  outline: 0;
  text-decoration: none;
  vertical-align: middle;
  font-weight: 400;
  line-height: 20px;
  padding: 0px 0px 0px 0px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.munimap-floor button:hover {
  border: solid 1px;
  border-color: #9cf #69e #69e #7af;
}

.munimap-floor .munimap-floor-select-arrow {
  display: inline-block;
  background: 0 0;
  margin: 3px 8px 3px 5px;
  width: 10px;
  height: 15px;
  vertical-align: top;
}

.munimap-floor .munimap-floor-select-caption {
  display: inline-block;
  border-right: solid 1px #ccd3e3;
  font-weight: 400;
  line-height: 20px;
  padding: 3px 2px 3px 10px;
  width: 50px;
  text-align: left;
}

.munimap-floor .munimap-floor-select-arrow:before {
  content: '\f107';
  font-family: MunimapFont;
  font-size: 11px;
}

.munimap-floor button:hover .munimap-floor-select-caption {
  border-right-color: #7af;
}

.munimap-floor button:hover .munimap-floor-select-caption {
  border-right-color: #7af;
}

.munimap-floor .munimap-floor-select-menu {
  background: #fff;
  border-color: #ccc #666 #666 #ccc;
  border-style: solid;
  border-width: 1px;
  cursor: default;
  font: normal 13px Arial,sans-serif;
  margin: -1px 0 0 1px;
  outline: 0;
  padding: 4px 0;
  position: absolute;
  z-index: 20000;
  display: none;
}

.munimap-floor .munimap-floor-select-item {
  box-sizing: content-box;
  font-size: 12px;
  padding: 4px 6px;
  width: 50px;
  color: #000;
  font: normal 13px Arial,sans-serif;
  list-style: none;
  margin: 0;
  white-space: nowrap;
}

.munimap-floor .munimap-floor-select-item.hover {
  background-color: #d6e9f8;
  cursor: pointer;
}

.munimap-floor .munimap-floor-select-menu.show {
  display: block;
}

.munimap-floor .munimap-marker-floor {
  color: #e51c23;
}
  
.munimap {
  box-sizing: content-box;
}

.munimap a {
  text-decoration: underline;
}

.munimap > .map-target {
  position: absolute;
  height: 100%;
  width: 100%;
}

.munimap-drag {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  touch-action: auto;
}

.munimap-error {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  touch-action: auto;
}

.munimap-error > div {
  text-align: center;
  color: #fff;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.munimap-info-bubble {
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  z-index: 2;
}

.munimap-bubble-title {
  font-weight: 600;
  text-align: center;
  margin: 5px 0;
  white-space: pre-line;
}

.munimap-bubble-text {
  white-space: pre-line;
}

.munimap-bubble-title:last-child {
  margin-bottom: 0;
}

.munimap-link {
  position: absolute;
  left: .5em;
  bottom: .5em;
  background: transparent;
  margin: 0 2px;
}

.munimap-link .munimap-link-item {
  width: 25px;
  height: 25px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  margin-top: 10px;
  filter: grayscale(0%);
}

.ol-touch .munimap-link-item {
  width: 30px;
  height: 30px;
}

.munimap-geolocate {
  position: absolute;
  bottom: 45px;
  right: calc(.5em + 1px);
  margin-right: 2px;
  background: transparent;
  color: #fff;
  cursor: pointer;
}

.munimap-crosshairs {
  font-family: 'MunimapFont';
  font-size: 25px;
  font-style: normal;
  color: #0000dc;
}

.munimap-crosshairs:hover { 
  color: #000;
}

.ol-touch.munimap-geolocate {
  bottom: 55px;
  right: calc(.5em + 2px);
}

.ol-touch .munimap-crosshairs {
  font-size: 30px;
}

.munimap-map-tools {
  display: inline-block;
  position: absolute;
  padding: 2px;
  left: .5em;
  background-color: rgb(0,0,220);
  top: 70px;
  border-radius: 4px;
  line-height: 17px;
}

.munimap-map-tools.collapsed {
  background-color: rgba(255,255,255,.4);
}

.munimap-map-tools .munimap-map-tools-button {
  float: left;
  background-color: #fff;
  right: 1px;
  margin: 1px;
  padding: 0;
  color: #fff;
  text-align: center;
  height: 25.09px;
  width: 25.09px;
  border-radius: 2px;
}

.munimap-map-tools.collapsed .munimap-map-tools-button {
  background-color: #0000dc;
}

.munimap-map-tools .munimap-map-tools-icon {
  font-family: 'MunimapFont';
  font-size: 0.7em;
  font-style: normal;
  position: relative;
  top: 3px;
  right: 1px;
  color: #0000dc;
  line-height: 0px;
}

.munimap-map-tools.collapsed .munimap-map-tools-icon {
  color: #fff;
  right: 0px;
}

.munimap-tool-bar.default {
  position: absolute;
  display: inline-block;
  width: 27.09px;
  padding: 2px;
  left: .5em;
  background-color: rgba(255,255,255,.4);
  top: 70px;
}

.munimap-tool-bar.nested {
  float: left;
  margin-left: 6px;
}

.munimap-initial-extent {
  float: left;
  width: 27.09px;
  border-radius: 4px;
}

.munimap-initial-extent .munimap-init-extent-button {
  background-color: #0000dc;
  margin: 1px;
  margin-bottom: 0px;
  padding: 0;
  line-height: 25.09px;
  text-align: center;
  height: 25.09px;
  border-radius: 2px;
}

.munimap-home {
  font-family: 'MunimapFont';
  font-size: 1.14em;
  font-style: normal;
  color: #fff;
  position: relative;
  top: 1px;
}

.munimap-map-tools .munimap-home {
  top: 1px;
}

.munimap-map-tools .munimap-vertical-line {
    width: 1px;
    background-color: #fff;
    height: 1.48em;
    margin-top: 2px;
    margin-left: 1px;
    margin-right: 1px;
}

.munimap-map-tools .munimap-map-tools-button:hover { 
  background-color: #000;
  cursor: pointer;
}

.munimap-map-tools .munimap-map-tools-button:hover .munimap-map-tools-icon { 
  color: #fff;
}

.munimap-map-tools.collapsed .munimap-map-tools-button:hover { 
  background-color: #000;
  cursor: pointer;
}

.munimap-init-extent-button:hover { 
  background-color: #000;
  cursor: pointer;
}

.munimap-map-tools .munimap-init-extent-button:hover { 
  background-color: #fff;
  cursor: pointer;
}

.munimap-map-tools .munimap-init-extent-button:hover .munimap-home { 
  color: #0000dc;
}

.munimap-identify {
  position: absolute;
  bottom: 80px;
  right: calc(.5em + 3px);
  margin-right: 2px;
  background: transparent;
  color: #eba01e;
}

.munimap-reset-icon {
  font-family: 'MunimapFont';
  font-size: 25px;
  font-style: normal;
  color: #eba01e;
  opacity: 1;
  cursor: pointer;
}

.munimap-reset-icon:hover { 
  color: black;
}

.munimap-reset-icon.disabled {
    color: #999;
    opacity: 0.6;
    cursor: default;
}

.munimap-reset-icon.disabled:hover { 
  color: #999;
}

.munimap-tooltip {
  font-size: 12px;
  color: blue;
  position: absolute;
  line-height: 14px;
  background-color: white;
  padding: 4px;
  border: 1px solid blue;
  z-index: 2;
}

.ol-touch.munimap-identify {
  bottom: 95px;
  right: calc(.5em + 4px);
}

.ol-touch .munimap-reset-icon {
  font-size: 30px;
}


.ol-control button {
  background-color: #0000dc;
  line-height: 0;
  font-family: Arial, Helvetica Neue, sans-serif;
}

.ol-control button:focus {
  background-color: #0000dc;
  cursor: pointer;
  outline: none;
}

.ol-control button:hover
{
  background-color: #000;
  cursor: pointer;
}

.ol-attribution {
  z-index: 5;
}
.ol-attribution ul {
  font-size: .7rem;
  /* line-height: 1.375em; */
}
.ol-attribution li {
  display: inline-block;
  font-weight: normal;
  margin-right: 7px;
  padding-left: 0;
}
.ol-attribution li > a:hover {
  text-decoration: underline;
}
.ol-attribution li:before {
  content: none !important;
  width: 0 !important;
  height: 0 !important;
}

.ol-attribution li a:after {
  content: none !important;
  width: 0 !important;
  height: 0 !important;
}
.ol-attribution li a {
  padding-right: 0px !important;
  color: #0000dc;
  font-weight: bold;
  background-image: none !important;
}
.ol-attribution li a:hover {
  color: #e51c23;
}

.munimap-hint {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: .3s ease-in-out all;
  background: #000;
  opacity: 0;
  z-index: -1;
}

.munimap-hint--active .ol-unselectable {
  background-color: #000;
  opacity: 1;
}

.munimap-tool-bar .ol.full-screen.ol-unselectable.ol-control {
  position: static;
  float: left;
  padding: 0;
}

.munimap-tool-bar.nested .ol-full-screen.ol-unselectable.ol-control {
  margin-left: 0px;
}

.munimap-map-tools .ol-full-screen.ol-unselectable.ol-control {
  color: #0000dc;
  background-color: #0000dc;
}

.munimap-map-tools 
    .ol-full-screen.ol-unselectable.ol-control button:hover {
  color: #0000dc;
  background-color: #fff;
  cursor: pointer;
}

#muni-tool-bar > div {
  position: static;
  float: left;
  border-radius: 4px;
  padding: 0;
}

.ol-touch.munimap-map-tools {
  top: 83px;
}

.ol-touch.munimap-map-tools .munimap-map-tools-button {
  height: 33px;
  width: 33px;
}

.ol-touch.munimap-map-tools.collapsed .munimap-map-tools-button {
  height: 33px;
  width: 33px;
}

.ol-touch.munimap-map-tools .munimap-map-tools-icon {
  font-size: 1em;
  top: 9px;
  right: 1px;
}

.ol-touch.munimap-map-tools.collapsed .munimap-map-tools-icon {
  right: 0px;
  left: 1px;
}

.ol-touch.munimap-tool-bar.default {
  top: 83px;
  width: 33px;
}

.ol-touch .munimap-initial-extent {
  position: absolute;
  top: 81px;
  width: 35px;
}

.ol-touch .munimap-init-extent-button {
  position: relative;
  line-height: 33px;
  height: 33px;
}

.ol-touch .munimap-home {
    font-size: 1.3em;
}

.ol-touch .nested .munimap-home {
    top: 8px;
}

.ol-touch.munimap-map-tools .munimap-vertical-line {
  height: 1.95em;
}

.ol-touch .ol-full-screen.ol-unselectable.ol-control {
  top: 115px;
  width: 35px;
}
