@import url("_lib/ol3/css/ol.css");
@import url("_lib/ol3/examples/popup.css");
@import url("_lib/closure-library/closure/goog/css/combobox.css");
@import url("_lib/closure-library/closure/goog/css/common.css");
@import url("_lib/closure-library/closure/goog/css/menu.css");
@import url("_lib/closure-library/closure/goog/css/menubutton.css");
@import url("_lib/closure-library/closure/goog/css/menuitem.css");
@import url("munimap/font/font.css");

.munimap-info-bubble {
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
}
.ol-popup {
  border-radius: 6px;
  bottom: auto;
  min-width: 0;
}
.ol-popup:before {
  left: 19px;
  border-left-color: #cccccc;
  border-width: 6px; 
}
.ol-popup:after {
  /*left positioning (+ margin) influences munimap.info.POPUP_TALE_INDENT constant*/
  left: 19px;
  border-left-color: white;
  /*border-width influences munimap.info.POPUP_TALE_HEIGHT constant*/
  border-width: 5px;
}
.ol-popup.munimap-hide-tale:before {
  display: none;
}
.ol-popup.munimap-hide-tale:after {
  display: none;
}
.munimap-info .munimap-content > .munimap-title {
  font-weight: bold;
}
.munimap-info .munimap-content {
  margin: 4px;
  padding: 4px;
  font-size: small;
}
.munimap-info .munimap-close-button {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.munimap-info .munimap-close-button:after {
  content: "✖";
}
.munimap-info .munimap-close-button:hover {
  cursor: pointer;
}

.munimap-info {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding: 10px 9px;
  position: absolute;
  transition: left 0.5s, top 0.5s;
  white-space: nowrap;
}
.munimap-info > div {
  float: left;
  clear: both;
}
.munimap-complex, .munimap-building {
  font-weight: bold;
  line-height: normal;
  padding-bottom: 3px
}
.munimap-floor {
  margin-top: 3px;
}
.munimap-floor .goog-menu-button {
  background: white;
  line-height: 20px;
  margin-left: 0;
}
.munimap-floor .goog-menu-button-outer-box,
.munimap-floor .goog-menu-button-focused .goog-menu-button-outer-box {
  border: solid 1px #99a9c8;
}
.munimap-floor .goog-menu-button-inner-box {
  padding: 0;
}
.munimap-floor .goog-menu-button-focused .goog-menu-button-inner-box {
  border-color: #99a9c8;
}
.munimap-floor .goog-menu-button-caption {
  border-right: solid 1px /*#99a9c8*/ #ccd3e3;
  /*box-sizing: content-box;*/
  font-weight: normal;
  line-height: 20px;
  padding: 3px 2px 3px 10px;
  width: 50px;
}
.munimap-floor .goog-menu-button-hover .goog-menu-button-caption {
  border-right-color: #7af;
}
.munimap-floor .goog-menu-button-dropdown {
  background: none;
  margin: 3px 8px 3px 5px;
  width: 10px;
}
.munimap-floor .goog-menu-button-dropdown:before {
  /*box-sizing: content-box;*/
  content: '\f107';
  font-family: 'MunimapFont';
  font-size: 11px;
}
.munimap-floor-select-item.goog-menuitem {
  box-sizing: content-box;
  font-size: 12px;
  padding: 4px 6px;
  width: 50px;
}
.munimap-floor-select-item.goog-menuitem-highlight {
  border: none;
}
  
.munimap {
  box-sizing: content-box;
  height: 100%;
  position: relative;
  width: 100%;
}
.ol-control button {
  background-color: #002776;
}
.ol-control button:hover,
.ol-control button:focus {
  background-color: #003190;
  cursor: pointer;
}
.ol-attribution li {
  display: inline-block;
  font-weight: normal;
  margin-right: 7px;
  padding-left: 0;
}
.ol-attribution li > a:hover {
  text-decoration: underline;
}
.ol-attribution li:before {
  content: none !important;
}

.ol-attribution li a:after {
  content: none !important;
}
.ol-attribution li a {
  padding-right: 0px !important;
  color: #002776;
  font-weight: bold;
  background-image: none !important;
}
.ol-attribution li a:hover {
  color: red;
}
