body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  font-size: 16px;
}

.content {
  margin: 20px;
  padding: 20px;
  background-color: lightgrey;
  overflow: hidden;
}

h1 {
  font-size: xx-large;
  line-height: 38px;
  color: white;
  background-color: #002776;
  padding: 20px;
  margin: 20px;
}

h4 {
  margin: 0px;
}

p {
  padding: 5px;
  background-color: lightgrey;
}

a {
  color: #002776;
  padding: 0px;
}
a:link {
  text-decoration: none;
}
a:hover {
  color: red;
}
ul {
  padding-left: 10px;
  margin: 0px 20px 0px 20px;
}
li {
  list-style-type: square;
}
li > a {
  color: #002776;
}

.navigation {
  font-size: medium;
  font-weight: normal;
  margin: 20px;
  padding-bottom: 20px;
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
.content > .left {
  margin-left: 50px;
}
.content > .right {
  margin-right: 50px;
}
.munimap-links {
  font-size: x-large;
  font-weight: bold;
  display: inline-block;
  margin: 20px;
}
.munimap-links li {
  /*display: inline;
  padding: 50px;*/
  text-align: left;
  list-style-type: none;
}
.center {
  text-align: center;
}