<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
            </customHeaders>
        </httpProtocol>
        <rewrite>
            <rules>
                <rule name="MunimapToLatest" stopProcessing="true">
                    <match url="^(index.html)?$" />
                    <action type="Rewrite" url="latest/index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
